/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}


html {
	font-family: 'Roboto';
}

body {
	margin: 0;
	padding: 0;
}

@import 'styles/material';
@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/utils';
@import 'styles/headings';
@import 'styles/button';
@import 'styles/layout';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
