.button {
	padding: 5px 20px;
	background-color: $color-primary;
	border: none;
	color: white;
	border-radius: $border-radius-default;
	cursor: pointer;

	&[disabled] {
		color: lightgrey;
		cursor: default;
	}
}