
$color-positive: #0DC62A;
$color-negative: #DE4949;
$color-green: #5BCF00;
$color-black: #000000;
$color-backdrop: #000000b0;
$color-primary: #1E90FF;

$border-radius-default: 10px;

// z-indexes

$zindex-legend: 10;
$zindex-backdrop: 20;
